.button {
    padding: 15px;
    outline: none;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}

.disabled {
    opacity: 0.8;
    cursor: default;
}